# Environment & Secret Keys
.env
*.env

# Local Databases & Ingestion Artifacts
*.duckdb
!nfl_stats.duckdb
*.duckdb.wal
*.parquet

# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# OS Specific
.DS_Store
Thumbs.db